<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <!--<h2>Colors</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].color %> :  <%= results[0][i].count %></li>
    <% } %>    
    </ul>
    <h2>Fruits</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].fruit %> :  <%= results[1][i].count %></li>
    <% } %>    
    </ul>
    <h2>Animals</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].animal %> :  <%= results[2][i].count %></li>
    <% } %>    
    </ul>
    [gender, age, past_use, look_and_feel, map_mode
            clarity, ease_of_use, how_to_use, incorrect_entry, improved, comments]-->

    <h2>Gender</h2>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].gender %> :  <%= results[0][i].count %></li>
    <% } %> 
    </ul>

    <h2>Age</h2>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].age %> :  <%= results[1][i].count %></li>
    <% } %>  
    </ul>

    <h2>Past Use</h2>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].past_use %> :  <%= results[2][i].count %></li>
    <% } %>  
    </ul>

    <h2>Look and Feel</h2>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].look_and_feel %> :  <%= results[3][i].count %></li>
    <% } %>  
    </ul>

    <h2>Map Mode</h2>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].map_mode %> :  <%= results[4][i].count %></li>
    <% } %>  
    </ul>

    <h2>Clarity</h2>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].clarity %> :  <%= results[5][i].count %></li>
    <% } %>  
    </ul>

    <h2>Ease of Use</h2>
    <ul>
    <% for (var i=0; i<results[6].length; i++){ %>
        <li><%= results[6][i].ease_of_use %> :  <%= results[6][i].count %></li>
    <% } %>  
    </ul>

    <h2>How to Use</h2>
    <ul>
    <% for (var i=0; i<results[7].length; i++){ %>
        <li><%= results[7][i].how_to_use %> :  <%= results[7][i].count %></li>
    <% } %>  
    </ul>

    <h2>Incorrect Entry</h2>
    <ul>
    <% for (var i=0; i<results[8].length; i++){ %>
        <li><%= results[8][i].incorrect_entry %> :  <%= results[8][i].count %></li>
    <% } %>  
    </ul>

    <h2>Improved</h2>
    <ul>
    <% for (var i=0; i<results[9].length; i++){ %>
        <li><%= results[9][i].improved %> :  <%= results[9][i].count %></li>
    <% } %>  
    </ul>

    <h2>Comments</h2>
    <ul>
    <% for (var i=0; i<results[10].length; i++){ %>
        <li><%= results[10][i].comments %> :  <%= results[10][i].count %></li>
    <% } %>  
    </ul>


</body>
</html>